
{cover_enabled, true}. 

{deps, [
       {plain_fsm, "1.1.*", {git, "git://github.com/uwiger/plain_fsm", {branch, "master"}}},
       {ebloom, "1.0.*", {git, "git://github.com/eriksoe/ebloom.git", {branch, "master"}}},
       {basho_bench, ".*", {git, "git://github.com/basho/basho_bench.git", {branch, "master"}}},
       {proper, ".*", {git, "git://github.com/manopapad/proper.git",
                                                               {branch, "master"}}}
]}.
