{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [%{d,'DEBUG',true},
            {parse_transform, lager_transform},
            fail_on_warning,
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_export_vars,
            warn_exported_vars,
            warn_untyped_record,
            % warn_missing_spec,
            % strict_validation,
            debug_info]}.

{xref_checks, [undefined_function_calls]}.

{deps, [ {sext, ".*", {git, "git://github.com/esl/sext", {branch, "master"}}}
       , {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}
       , {snappy, "1.0.*", {git, "git://github.com/fdmanana/snappy-erlang-nif.git", {branch, "master"}}}
       , {plain_fsm, "1.1.*", {git, "git://github.com/gburd/plain_fsm", {branch, "master"}}}
       , {basho_bench, ".*", {git, "git://github.com/basho/basho_bench", {branch, "master"}}}
       , {triq, ".*", {git, "git://github.com/krestenkrab/triq", {branch, "master"}}}
       , {lz4, ".*", {git, "git://github.com/krestenkrab/erlang-lz4.git", {branch, "master"}}}
%        , {edown, "0.3.*", {git, "git://github.com/esl/edown.git", {branch, "master"}}}
%        , {asciiedoc, "0.1.*", {git, "git://github.com/norton/asciiedoc.git", {branch, "master"}}}
%        , {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", {branch, "master"}}}
%        , {proper, ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
       ]}.
