
{cover_enabled, true}.

%% define 'PROPER' in stead if you must...
{erl_opts, [debug_info,{d,'TRIQ',true}]}.

{deps, [
       {riak_core, ".*", {git, "git://github.com/basho/riak_core.git", {branch, "master"}}},
       {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
       {sext, ".*", {git, "git://github.com/esl/sext", {branch, "master"}}},
       {snappy, "1.0.*", {git, "git://github.com/fdmanana/snappy-erlang-nif.git", {branch, "master"}}},
       {plain_fsm, "1.1.*", {git, "git://github.com/uwiger/plain_fsm", {branch, "master"}}},
       {ebloom, "1.1.*", {git, "git://github.com/basho/ebloom.git", {branch, "master"}}},
       {basho_bench, ".*", {git, "git://github.com/basho/basho_bench.git", {branch, "master"}}},
       {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", {branch, "master"}}},
       {proper, ".*", {git, "git://github.com/manopapad/proper.git",
                                                               {branch, "master"}}}
]}.
