
{mode, max}.

{duration, 20}.

{concurrent, 1}.

{driver, basho_bench_driver_hanoi}.

{key_generator, {int_to_bin,{uniform_int, 5000000}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{get, 1}, {put, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask") must point to
%% the relevant directory of a hanoi installation
{code_paths, ["deps/stats",
              "../hanoi/ebin",
              "../hanoi/deps/plain_fsm/ebin",
              "../hanoi/deps/ebloom/ebin"
              ]}.

{bitcask_dir, "/tmp/hanoi.bench"}.

{bitcask_flags, [o_sync]}.
