
{mode, max}.

{duration, 20}.

{concurrent, 1}.

{driver, basho_bench_driver_hanoidb}.

{key_generator, {int_to_bin,{uniform_int, 5000000}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{get, 1}, {put, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask") must point to
%% the relevant directory of a hanoi installation
{code_paths, ["deps/stats",
              "../hanoidb/ebin",
              "../hanoidb/deps/plain_fsm/ebin",
              "../hanoidb/deps/ebloom/ebin"
              ]}.

% {hanoidb_dir, "/tmp/hanoidb.bench"}.

{hanoidb_flags, [{expiry_secs, 0},
                 {sync_strategy, none}, %% |sync|{seconds, N}
                 {compress, none},      %% |gzip
                 {page_size, 8192},     %
                 {merge_strategy, fast} %% |predictable
                 ]}.
