
{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_fractal_btree}.

{key_generator, {int_to_bin,{uniform_int, 5000000}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{get, 1}, {put, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask") must point to 
%% the relevant directory of a fractal_btree installation 
{code_paths, ["deps/stats",
              "/Users/krab/Projects/fractal_btree/ebin",
              "/Users/krab/Projects/fractal_btree/deps/plain_fsm/ebin",
              "/Users/krab/Projects/fractal_btree/deps/ebloom/ebin"
              ]}.

{bitcask_dir, "/tmp/fractal_btree.bench"}.

{bitcask_flags, [o_sync]}.
